<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>

<form th:method="POST" th:action="@{/users/addOrUpdate}" th:object="${user}">

    <input type="hidden" th:field="*{id}"/>

    <caption><h1>Fill in the fields</h1></caption><br/>
    <label for="firstName">Name: </label>
    <input type="text" th:field="*{firstName}" id="firstName"/><br/><br/>
    <label for="lastName">Surname: </label>
    <input type="text" th:field="*{lastName}" id="lastName"/><br/><br/>
    <label for="age">Age: </label>
    <input type="text" th:field="*{age}" id="age"/><br/><br/>
    <label for="email">email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>
    <br/>
    <input type="submit" value="save"/>
    <input type="button" value="Cancel" onclick="history.go(-1)"/>

</form>
</body>
</html>