<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Hello :)</h2>
<br>
<table border="1">
    <th>
        <button onclick="window.location.href = '/users';"><h4>Show list of all users</h4></button>
    </th>
    <th>
        <button onclick="window.location.href = '/users/new';"><h4>Add new user</h4></button>
    </th>

</table>
<br/>
<table border="1">
    <th>
        <button onclick="window.location.href = '/truncate';"><h4>Truncate table of users</h4></button>
    </th>
    <th>
        <button onclick="window.location.href = '/fill';"><h4>Fill table of users</h4></button>
    </th>
</table>
</body>
</html>


















<!--<table border="1">-->
<!--    <th>-->
<!--        <button onclick="window.location.href = '/create';">Create table of users</button>-->
<!--    </th>-->
<!--    <th>-->
<!--        <button onclick="window.location.href = '/drop';">Drop table of users</button>-->
<!--    </th>-->
<!--</table>-->